body {
    margin: 50px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 1;
    color: #222222;
    background-color: #F8F8F8;
    letter-spacing: 1px;
  }

  .table-evaluation {
    width: 1200px;
    border-collapse: collapse;
  }
  
  .table-evaluation tr th {
    background-color: #2ECC71;
  }
  
  .table-evaluation tr th, .table-evaluation tr td {
    border-top: 1px solid black;
    padding: 10px;
    text-align: left;
  }
  